h1.banner {
  background-color: rgb(46,201,127);
  color: rgb(255,255,255);
  font-style: italic;
  font-family: "Brush Script Std";
  min-height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 100px;
  position: fixed;
  top: 0;
  margin: 0;
}

.navbar4 {
  position: relative;
  top: 9vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;


}

@media (min-width: 992px) {
  .Daisy{
    margin: auto !important;
    width: 70%;
    display: inline-flex;
  }
}
