h1.banner {
  background-color: rgb(46,201,127);
  color: rgb(255,255,255);
  font-style: italic;
  font-family: "Brush Script Std";
  min-height: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 100px;
  position: static;
  top: 0;
  margin: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}

.colour {
  background-color: rgb(234, 250, 244);
}

.carousel {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 80%;
  height:50%;

}

 }
.carouselImages {
  width: 60%;
  height: 40%;
}
.navbar4 {
  position: static;
  width:100%;
  top: 9vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;


}

@media (min-width: 992px) {
  .Daisy{
    margin: auto !important;
    width: 100%;
    display: inline-flex;

  }
}

.Featured {
  display: inline-table;
}
